## Date/Time Functions and Operators
---

### Agregando y sustrayendo data/time

Para agregar y sustraer fechas. Veamos ejemplos al adicionar o sustraer data types con los diferentes tipos de fechas.

---
CONFIGURACION

---

In [2]:
import psycopg2
import sqlalchemy as sqla

engine = sqla.create_engine("postgresql://postgres:Panama2021@localhost:5433/dvdrental")
%load_ext sql
%sql $engine.url

'Connected: postgres@dvdrental'

In [26]:
# Between TIMESTAMP... returning INTEGER
%sql SELECT timestamp '2010-11-4' - timestamp'2010-10-1' AS day;

 * postgresql://postgres:***@localhost:5433/dvdrental
1 rows affected.

[(datetime.timedelta(days=34),)]

In [28]:
#Sumando INTEGER A UN DATE... > date
%sql SELECT date '2020-10-5' + integer '3' as DATA

 * postgresql://postgres:***@localhost:5433/dvdrental
1 rows affected.

[(datetime.date(2020, 10, 8),)]

In [35]:
#RESTANDO date +  date = interval
%sql SELECT DATE '2021-10-10 12:45:04' - DATE '2021-08-20 20:05:00'

 * postgresql://postgres:***@localhost:5433/dvdrental
1 rows affected.

[(51,)]

In [37]:
#AGE RETURNING = INTERVAL 
%sql SELECT AGE(timestamp '2022-10-10 23:04:55', timestamp '2022-09-15 15:24:45' )

 * postgresql://postgres:***@localhost:5433/dvdrental
1 rows affected.

[(datetime.timedelta(days=-26, seconds=58790),)]

In [40]:
#VEAMOS LAS PRIMERAS FECHAS DE REGITRO DE DVDRENTAL
#returning AGE
%sql SELECT AGE(rental_date) AS date FROM rental ORDER BY date ASC LIMIT 5

 * postgresql://postgres:***@localhost:5433/dvdrental
5 rows affected.

[(datetime.timedelta(days=6159, seconds=31437),),
 (datetime.timedelta(days=6159, seconds=31437),),
 (datetime.timedelta(days=6159, seconds=31437),),
 (datetime.timedelta(days=6159, seconds=31437),),
 (datetime.timedelta(days=6159, seconds=31437),)]

In [41]:
#ADD interval
%sql SELECT rental_date + INTERVAL '3 days' as expected_return FROM rental LIMIT 5

 * postgresql://postgres:***@localhost:5433/dvdrental
5 rows affected.

[(datetime.datetime(2005, 5, 27, 22, 54, 33),),
 (datetime.datetime(2005, 5, 27, 23, 3, 39),),
 (datetime.datetime(2005, 5, 27, 23, 4, 41),),
 (datetime.datetime(2005, 5, 27, 23, 5, 21),),
 (datetime.datetime(2005, 5, 27, 23, 8, 7),)]

In [42]:
#Returning timestamp using INTERVALS
%sql SELECT timestamp '2023-01-6 08:05:20' + 2 * INTERVAL '15 days'

 * postgresql://postgres:***@localhost:5433/dvdrental
1 rows affected.

[(datetime.datetime(2023, 2, 5, 8, 5, 20),)]

### Extracting Date/time

En ocasiones necesitaremos de distintos niveles de tiempo. Por e.g:

- `NOW ()`
- `CURRENT_TIMESTAMP(2)`
- `CURRENT_DATE` 
- `CURRENT_TIME`
- `CAST( *function* AS dtype)`: con CAST podemos *castear* de un formato a otro; por ejemplo si queremos convertir de TIMESTAMP A DATE `CAST( CURRENT_TIMESTAMP AS DATE)`; convertimos de `[2023-01-06 10:08:14.970000-05:00
]` ----> `[2023-01-06]` 
- `'2020-04-10' :: Date `:  los dos puntos son utilizados como sinonimo de *CAST*; en este ejemplo convierte la cadena en el tipo de dato `Date`.

In [63]:
%sql SELECT CAST(NOW() AS DATE), CURRENT_DATE

 * postgresql://postgres:***@localhost:5433/dvdrental
1 rows affected.

[(datetime.date(2023, 1, 6), datetime.date(2023, 1, 6))]

In [62]:

%sql SELECT CURRENT_DATE

 * postgresql://postgres:***@localhost:5433/dvdrental
1 rows affected.

[(datetime.date(2023, 1, 6),)]

In [61]:
#Adding 2 hours 
%sql SELECT CURRENT_TIMESTAMP(2)

 * postgresql://postgres:***@localhost:5433/dvdrental
1 rows affected.

[(datetime.datetime(2023, 1, 6, 10, 8, 14, 970000, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))),)]

In [65]:
%sql SELECT CAST(CURRENT_TIMESTAMP(2) AS DATE)

 * postgresql://postgres:***@localhost:5433/dvdrental
1 rows affected.

[(datetime.date(2023, 1, 6),)]

### Transformando date/time 

En la vida real nos encontraremos con datos de tipo `TIMESTAMP` pero no necesitemos necesariamente este formato; en algunos analisis seguramente necesitaremos solamente el cuatrimestre, mes o dia de una fecha de un dato con el formato `TIMESTAMP`. Para estos casos podemos usar las siguientes funciones.

- `EXTRACT( datepart FROM SOURCE)`: extrae el formato implicitamente indicado y solo eso.
- `DATE_PART('datepart', source)`: extrae el formato implicitamente indicado y solo eso, varia solamente en su sintaxis con la funcion EXTRACT. 
- `DATE_TRUNC('datepart',source)`: trunca la fecha hasta el formato indicado, la fecha o el tiempo restante se llena con 0 o 1.

In [74]:
#EXTRACT
%sql SELECT EXTRACT( DAY FROM CURRENT_TIMESTAMP)

 * postgresql://postgres:***@localhost:5433/dvdrental
1 rows affected.

[(7.0,)]

In [76]:
#DATE PART EXTRACTING HOUR FROM CURRENT_TIME

%sql SELECT DATE_PART('HOUR',CURRENT_TIME)

 * postgresql://postgres:***@localhost:5433/dvdrental
1 rows affected.

[(11.0,)]

In [5]:
#DATE TRUNC
%sql SELECT DATE_TRUNC( 'month', TIMESTAMP '2023-06-07 11:42:05-05:00')

 * postgresql://postgres:***@localhost:5433/dvdrental
1 rows affected.

[(datetime.datetime(2023, 6, 1, 0, 0),)]